body{
    background-color: rgb(213, 83, 213);
}
p{
    font-size: 500 px;
    border:1px solid #5e4e4e
    box-shadow 10px 10px 5px #210707
}
.lightGreen{
    color: rgb(98, 222, 94)
}
.header{
    color: rgb(75, 101, 217)
}